<!DOCTYPE html>
<html>
  <head>
    <title>Hayaoki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <script src="https://kit.fontawesome.com/486b935144.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <h1>Hayaoki</h1>
      <div class="header-list">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to "投稿一覧へ", tweets_path %></li>
            <li><%= link_to "新規投稿へ", new_tweet_path %></li>
            <li><%= link_to "カレンダー", blogs_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
